.section-intro {
	padding-top: 10em;
	padding-bottom: 4em;
}

.intro-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 65em;
	margin: 0 auto;
}

.intro-copy {
	flex: 0 0 23em;
}

.into-subheader {
	text-transform: uppercase;
	font-size: $font-size-xs;
	font-weight: 500;
}

.intro-copy-text {
	color: $color-secondary;
	font-size: $font-size-md;
	line-height: 1.5em;
}

.intro-copy-title {
	font-size: $font-size-xxl;
	font-weight: 400;
	margin-top: 0.3em;
}

.intro-image-container {
	position: relative;
	flex: 0 0 17em;

	img {
		position: absolute;
		bottom: -18.5em;
		max-width: calc(100% + 8.5em);
	}
}

.blockquote-box {
	flex: 0 0 16em;
	text-align: center;
	padding: 0.75em;
	z-index: 200;
}

.blockquote-box-frame {
	border: 8px solid $color-primary;
}

.blockquote {
	margin: 2.5em 0 4em;
	font-family: $font-secondary;
	font-style: normal;
	font-size: $font-size-lg;
	line-height: 1.5em;
}

.blockquote-title {
	display: block;
	text-transform: uppercase;
	font-size: $font-size-xs;
	font-weight: 400;
}

.blockquote::before {
	content: open-quote;
}

.blockquote::after {
	content: close-quote;
}

.quote-author,
.quote-source {
	text-transform: uppercase;
	display: block;
	font-size: $font-size-xs;
	letter-spacing: 2px;
}

.quote-source {
	font-weight: 500;
}

.box-icon {
	margin: 0 auto 0.5em;
}

.icon-brand {
	width: 1.5625em;
	transform: rotate(270deg);
}

@media (max-width: 992px) {
	.section-intro {
		padding-top: 5em;
		padding-bottom: 4em;
	}

	.intro-wrapper {
		justify-content: center;
	}

	.intro-image-container {
		flex: 0 0 16em;
	}

	.intro-image-container {
		flex: 0 0 16em;
		img {
			bottom: -18.5em;
			left: -1em;
		}
	}

	.intro-copy {
		flex: 0 0 100%;
		margin-bottom: 2.5em;
	}
}

@media (max-width: 768px) {
	.section-intro {
		padding-bottom: 2em;
	}

	.intro-image-container {
		flex: 0 0 14em;

		img {
			bottom: -15.5em;
			left: -2em;
		}
	}

	.blockquote-box {
		flex: 0 0 15em;
	}
}

@media (max-width: 544px) {
	.section-intro {
		padding-bottom: 0.5em;
	}

	.intro-image-container {
		flex: 0 0 13em;
		img {
			bottom: -13.5em;
			left: -2em;
		}
	}

	.blockquote-box {
		flex: 0 0 13em;
	}
}

@media (max-width: 496px) {
	.intro-image-container {
		flex: 0 0 8em;

		img {
			bottom: -10.5em;
			left: -1em;
		}
	}

	.blockquote-box {
		flex: 0 0 15em;
	}
}

@media (max-width: 432px) {
	.intro-image-container {
		flex: 0 0 0em;
	}

	.blockquote-box {
		flex: 0 0 17em;
	}
}
