.section-intro {
	display: flex;
	align-items: center;
	max-width: 65em;
	margin: 5em auto;
}

.intro-copy {
	flex: 0 0 27em;
	margin-right: 2em;
}

.into-subheader {
	text-transform: uppercase;
	font-size: $font-size-xs;
	font-weight: 500;
}

.intro-copy-text {
	color: $color-secondary;
	font-size: $font-size-md;
	padding-right: 1em;
	line-height: 1.5em;
}

.intro-copy-title {
	font-size: $font-size-xxl;
	font-weight: 400;
	margin-top: 0.3em;
}

.intro-image-container {
	position: relative;

	img {
		position: relative;
		right: 2em;
		top: 1em;
		max-width: calc(100% + 6em);
	}
}

.blockquote-box {
	flex: 0 0 18em;
	text-align: center;
	padding: 1.25em;
	z-index: 200;
}

.blockquote {
	margin: 3rem 0;
	font-family: $font-secondary;
	font-style: normal;
	font-size: $font-size-lg;
}

.blockquote-title {
	display: block;
	text-transform: uppercase;
	font-size: $font-size-xs;
	font-weight: 400;
}

.blockquote::before {
	content: open-quote;
}

.blockquote::after {
	content: close-quote;
}

.quote-author {
	text-transform: uppercase;
	display: block;
	font-size: $font-size-xs;
}

.quote-source {
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	font-size: 0.8em;
}

.box-icon {
	margin: 0 auto 0.5em;
}

.icon-brand {
	width: 1.5625em;
	transform: rotate(270deg);
}

.frame {
	border: 8px solid $color-primary;
}
