.intro-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 65em;
	margin: 0 auto;
}

.intro-copy {
	flex: 0 0 23em;
}

.into-subheader {
	text-transform: uppercase;
	font-size: $font-size-xs;
	font-weight: 500;
}

.intro-copy-text {
	color: $color-secondary;
	font-size: $font-size-md;
	line-height: 1.5em;
}

.intro-copy-title {
	font-size: $font-size-xxl;
	font-weight: 400;
	margin-top: 0.3em;
}

.intro-image-container {
	flex: 0 0 17em;

	img {
		position: relative;
		left: 0;
		max-width: calc(100% + 7em);
	}
}

.blockquote-box {
	flex: 0 0 18em;
	text-align: center;
	padding: 0.75em;
	z-index: 200;
}

.blockquote-box-frame {
	border: 8px solid $color-primary;
}

.blockquote {
	margin: 4em 0;
	font-family: $font-secondary;
	font-style: normal;
	font-size: $font-size-lg;
	line-height: 1.5em;
}

.blockquote-title {
	display: block;
	text-transform: uppercase;
	font-size: $font-size-xs;
	font-weight: 400;
}

.blockquote::before {
	content: open-quote;
}

.blockquote::after {
	content: close-quote;
}

.quote-author,
.quote-source {
	text-transform: uppercase;
	display: block;
	font-size: $font-size-xs;
	letter-spacing: 2px;
}

.quote-source {
	font-weight: 500;
}

.box-icon {
	margin: 0 auto 0.5em;
}

.icon-brand {
	width: 1.5625em;
	transform: rotate(270deg);
}

@media (max-width: 992px) {
	.intro-wrapper {
		justify-content: center;
	}

	.intro-copy {
		flex: 0 0 45em;
		margin-bottom: 2.5em;
	}
}

@media (max-width: 768px) {
	.intro-copy {
		flex: 0 0 30em;
	}

	.intro-image-container {
		flex: 0 0 15em;
	}

	.blockquote-box {
		flex: 0 0 15em;
	}
}

@media (max-width: 592px) {
	.intro-copy {
		flex: 0 0 25em;
	}
}

@media (max-width: 544px) {
	.intro-copy {
		flex: 0 0 20em;
	}

	.blockquote-box {
		flex: 0 0 13em;
	}
}

@media (max-width: 496px) {
	.intro-image-container {
		flex: 0 0 10em;
	}

	.blockquote-box {
		flex: 0 0 15em;
	}
}

@media (max-width: 432px) {
	.intro-copy {
		flex: 0 0 17em;
	}

	.intro-image-container {
		flex: 0 0 0em;
	}

	.blockquote-box {
		flex: 0 0 17em;
	}
}
