$font-primary: "Roboto", sans-serif;
$font-secondary: serif;

$color-primary: #000;
$color-secondary: #818181;
$color-underline: #ccc;

$font-size-xs: 0.75em;
$font-size-sm: 0px;
$font-size-md: 0.875em;
$font-size-lg: 1.1875em;
$font-size-xl: 1.75em;
$font-size-xxl: 2.5em;
