$font-primary: "Roboto", sans-serif;
$font-secondary: serif;

$color-primary: #3b3b3b;
$color-secondary: #818181;
$color-underline: #eee;
$color-mobile-menu-items: #fff;

$font-size-xs: 0.625em;
$font-size-sm: 0px;
$font-size-md: 0.75em;
$font-size-lg: 1.0625em;
$font-size-xl: 1.75em;
$font-size-xxl: 2.25em;
