.button-inline {
	text-transform: uppercase;
	font-size: $font-size-xs;
	border-bottom: 1px solid $color-underline-primary;
	font-weight: 500;

	&-secondary {
		@extend .button-inline;
		border-bottom: 1px solid $color-underline-secondary;
	}
}
