.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 4em;
	border-bottom: 1px solid $color-underline;
}

.header-branding {
	font-weight: 700;
	font-size: $font-size-xl;
}

.menu-main {
	display: flex;
	justify-content: space-between;
	padding-left: 0;
}

.menu-main-item {
	font-size: $font-size-md;
	font-weight: 500;
	margin: 0 3.5em;
}

.fa-search {
	font-size: $font-size-md;
}
